@using Cody_v2.Repositories.Paging
@model UserListModel
@{
    ViewData["Title"] = "Danh sách các thành viên";
}
<partial name="_StatusMessage"></partial>
<p>Tổng số thành viên: @Model.totalUsers</p>

<table class="table table-bordered table-hover">
    <tr>
        <th>Tên user</th>
        <th>Vai trò (role)</th>
        <th>Tác vụ</th>
    </tr>
    @foreach (var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                    <a class="text-dark" asp-controller="User" asp-action="AddRole" asp-route-userId="@user.Id">+ Thêm roles</a>
                }
                else
                {
                    <a asp-controller="User" asp-action="AddRole" asp-route-userId="@user.Id">@user.RoleNames</a>
                }
            </td>
            <td>
                <a class="btn btn-success btn-sm" asp-controller="User" asp-action="SetPassword" asp-route-id="@user.Id">Đặt mật khẩu</a>
            </td>
        </tr>
    }
</table>
@{
    var pagingmodel = new PageResultBase()
    {
        CurrentPage = Model.currentPage,
        PageCount = Model.countPages,
         GenerateUrl = (int? p) => Url.Action("Index", new { p = p})
    };
}

<partial name="_Paging" model="@pagingmodel" />
