@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Authentication
@using Cody_v2.Repositories.Entities
@model LoginViewModel
@inject SignInManager<AppUser> SignInManager

@{
    ViewData["Title"] = "Đăng nhập";
    Layout = "";
}
<style>
    .login-bg { 
      /* The image used */
      background-image: url('lib/dist/img/login-bg.jpg');
      /* Center and scale the image nicely */
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;  
    }
/*    .login-form{
        background-color: RGB(30,39,44,0.9)!important;        
    }
    .login-form, .login-form a{
        color: white;
    }*/
    </style>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@ViewData["Title"]</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="~/lib/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="~/lib/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="~/lib/dist/css/adminlte.min.css">
</head>
<body class="hold-transition login-page login-bg">

    <!-- Preloader -->
    <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="https://laptrinhvb.net//public/images/logo.png" alt="AdminLTELogo" height="60" width="60">
    </div>

<div class="login-box">
    <partial name="_StatusMessage"></partial>
  <!-- /.login-logo -->
  <div class="card card-outline card-primary login-form">
    <div class="card-header text-center">
      <a  asp-controller="Home" asp-action="Index" class="h1"><b>Admin</b>Cody</a>
    </div>
    <div class="card-body">
      <p class="login-box-msg">Đăng nhập để ăn hành</p>

      <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
        <div class="input-group mb-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          <input class="form-control" placeholder="Email" asp-for="UserNameOrEmail">
          <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input type="password" asp-for="Password"  class="form-control" placeholder="Password">
          <span asp-validation-for="Password" class="text-danger"></span>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-8 d-sm-flex align-items-center">            
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe" class="m-auto">
                    @Html.DisplayNameFor(m => m .RememberMe)
                </label> 
          </div>
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" id="login-submit" class="btn btn-primary btn-block">Sign In</button>
          </div>
          <!-- /.col -->
        </div>
      </form>
        @{
            var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
            var loginProviders = schemes.ToList();
            if (loginProviders.Count > 0)
            {
                <h5 class="text-center">Hoặc thích thì chiều</h5>
                <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
                @*    <h5 class="text-center">Hoặc thích thì chiều</h5>
                        <div class="social-auth-links text-center mt-2 mb-3">
                        <a href="#" class="btn btn-block btn-primary">
                            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                        </a>
                        <a href="#" class="btn btn-block btn-danger">
                            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                        </a>
                        </div>*@
            }
        }

      <!-- /.social-auth-links -->

      <p class="mb-1">
        <a asp-action="ForgotPassword" asp-controller="Account" >Quên mật khẩu há?</a>
      </p>
      <p class="mb-0">
        <a asp-action="Register" asp-controller="Account"  asp-route-returnurl="@ViewData["ReturnUrl"]"  class="text-center">Đăng ký hội viên Illuminarium</a>
      </p>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.login-box -->
@*
<div class="row">
    <div class="col-md-8">
        <section>
            <form asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                <h4>Sử dụng tài khoản đã đăng ký để đăng nhập</h4>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserNameOrEmail" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="UserNameOrEmail" class="form-control" />
                        <span asp-validation-for="UserNameOrEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Đăng nhập</button>
                    </div>
                </div>
                <p>
                    <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Chưa có tài khoản? Đăng ký</a>
                </p>
                <p>
                    <a asp-action="ForgotPassword">Quyên mật khẩu?</a>
                </p>
            </form>
        </section>
    </div>
    <div class="col-md-4">
        <section>
            <h4>Đăng nhập bằng tài khoản.</h4>
            <hr />
            @{
                var schemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
                var loginProviders = schemes.ToList();
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            Ứng dụng chưa hỗ trợ đăng nhập từ tài khoản ngoài
                        </p>
                    </div>
                }
                else
                {
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                        <div>
                            <p>
                                @foreach (var provider in loginProviders)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.Name account">@provider.Name</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

<!-- jQuery -->
<script src="~/lib/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="~/lib/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="~/lib/dist/js/adminlte.min.js"></script>
</body>
</html>

@*<script>
$('login-submit').click(function () {
            var id = $(this).attr('iditem');
            $.ajax({
                url: subDomainUrl + '/' + '@ViewData["EditUrl"]',
                contentType: 'application/html; charset=utf-8',
                data: { id: id },
                type: 'GET',
                dataType: 'html'
            })
                .done(function (result) {
                    $('#modal-body-edit').html(result);
                    $('#modal-edit').modal();
                })
                .fail(function (xhr, status) {
                    alert(status);
                })
        })

</script>*@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
